* {
    box-sizing: border-box;
}
p {
  padding: 0px;
  margin: 0px;
}
input {
  -webkit-appearance: unset;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body, html {
    height: 100%;
    margin: 0px;
    font-family: Arial;
    width: 100vw;
    display: inline-block;
    font-family: "Open Sans", sans-serif;

}
header,
.tabs_style {
  width: inherit;
  height: 40px;
}

.tab_link {
  background-color: rgb(54, 144, 169) ;
  color: white;
  float: left;
  border: none;
  height: 40px;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 33.33%;
  padding: 0px;
  border: 1px solid rgb(255, 255, 255);
  border-right: none;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
}

.tab_link > button:last-child {
  border-right: 1px solid rgb(255, 255, 255);
}

.tab_link:hover,
.tab_link_visible {
  background: rgb(100, 197, 208);
}

.tab_content_hidden {
  display: none;
}

.tab_content_visible {
  display: block;
  margin: 30px;
  height: 100%;
}

.task_list_style {
  color: rgb(134, 135, 135);
  padding-left: 0px;
}

.task_element {
  border: 1px solid rgb(134, 135, 135);
  display: list-item;
  list-style: none;
  width: 100%;
  margin-bottom: 20px;

}
.task_name {
  width: inherit;
  vertical-align: middle;
  margin: 0px;
}

.task_name:after {
  content: "";
  display: table;
  clear: both;
}

.task_name h4 {
  margin: 1em;
  width: 80%;
  float: left;
}

.task_body_button_up {
  width: 0;
  height: 0;
  float: right;
  margin-right: 1em;
  margin-top: 22px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
  border-bottom: 10px solid  rgb(134, 135, 135);
}

.task_body_button_down {
  width: 0;
  height: 0;
  float: right;
  margin-right: 1em;
  margin-top: 22px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid rgb(134, 135, 135);
}

.task_row:after {
  content: "";
  display: table;
  clear: both;
}

.task_body {
  padding-left: 1em;
  padding-right: 1em;
  border-top: 1px solid rgb(134, 135, 135);
  transition: all .5s ease;
  max-height: 300px;
  overflow: hidden;
}
.task_body_up {
  max-height: 0px;
  border-width: 0px;
}

.task_body > p {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.task_column {
  float: left;
  width: 50%;
  margin-bottom: 0.5em;
}

.task_subcolumn {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.autofill_icon {
  background-image: url(../img/auto_fill.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 11%;
  position: relative;
}
.clicable_icon {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 150px;
  cursor: pointer;
}
.clicable_icon_lastelem {
  margin-left: 335px;
}

.new_line{
  clear: both;
}

.task_tags {
  float: left;
  font-size: 14px;
}

.task_complexity img{
  width: 1em;
  float: right;
}

.ui-icon-loading ~h1 {
  display: none;
}

.disaktiv_link{
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}

