* {
    box-sizing: border-box;
}
p {
  padding: 0px;
  margin: 0px;
}
input {
  -webkit-appearance: unset;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

body, html {
    height: 100%;
    margin: 0px;
    font-family: Arial;
    width: 100vw;
    display: inline-block;
    font-family: "Open Sans", sans-serif;

}
header,
.tabs_style {
  width: inherit;
}

.navigation {
  width: 15%;
  height: 100%;
  background-color: #f1f1f1;
  overflow: auto;
  position: fixed;
}

.side_menu div p{
  padding: 10px;
  margin: 0px;
  font-weight: 600;
}
.side_menu_list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background-color: #d6d6d6;
}

.side_menu_list_item {
  text-decoration: none;
  color: rgb(49, 49, 49);
  padding: 10px 10px 10px 20px;
}

.side_menu_list_item:hover {
  background-color: #ddd;
}

.side_menu_list_item.active {
  background-color: #666;
  color: white;
}

.disaktiv_link{
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}

.task_serch {
  background-image: url('../img/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border: 1px solid rgb(134, 135, 135);
}

.tab_content {
  display: block;
  margin: 30px;
  height: 100%;
}

.task_list_style {
  color: rgb(134, 135, 135);
  padding-left: 0px;
}
.body_style {
  width: 85%;
  margin-left: 15%;
}
.task_element {
  border: 1px solid rgb(134, 135, 135);
  /*display: list-item;*/
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
  display: none;

}
.task_name {
  width: inherit;
  vertical-align: middle;
  margin: 0px;
}

.task_name:after {
  content: "";
  display: table;
  clear: both;
}

.task_name h4 {
  margin: 1em;
  width: 80%;
  float: left;
}

.task_body_button_up {
  width: 0;
  height: 0;
  float: right;
  margin-right: 1em;
  margin-top: 22px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
  border-bottom: 10px solid  rgb(134, 135, 135);
}

.task_body_button_down {
  width: 0;
  height: 0;
  float: right;
  margin-right: 1em;
  margin-top: 22px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid rgb(134, 135, 135);
}

.task_row:after {
  content: "";
  display: table;
  clear: both;
}

.task_body {
  padding-left: 1em;
  padding-right: 1em;
  border-top: 1px solid rgb(134, 135, 135);
  transition: all .5s ease;
  max-height: 300px;
  overflow: hidden;
}
.task_body_up {
  max-height: 0px;
  border-width: 0px;
}

.task_body > p {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.task_column {
  float: left;
  width: 50%;
  margin-bottom: 0.5em;
}

.task_subcolumn {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.autofill_icon {
  background-image: url('../img/auto_fill.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 11%;
  position: relative;
}
.clicable_icon {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 150px;
  cursor: pointer;
}
.clicable_icon_lastelem {
  margin-left: 335px;
}

.new_line{
  clear: both;
}

.task_tags {
  float: left;
  font-size: 14px;
}

.task_complexity img{
  width: 1em;
  float: right;
}

.items_show {
  display: block;
}

.ui-icon-loading ~h1,
.ui-input-clear {
  display: none;
}
